<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.clubpyramid.kumamoto-ai-public-data.x-feed-daily</string>

  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/caffeinate</string>
    <string>-dimsu</string>
    <string>/bin/zsh</string>
    <string>__ROOT__/bin/run_x_daily_update.sh</string>
  </array>

  <key>WorkingDirectory</key>
  <string>__ROOT__</string>

  <key>EnvironmentVariables</key>
  <dict>
    <key>HOME</key>
    <string>__HOME__</string>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:__HOME__/.local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    <key>HERMES_BIN</key>
    <string>__HERMES_BIN__</string>
    <key>HERMES_TIMEOUT_SECONDS</key>
    <string>900</string>
  </dict>

  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key><integer>5</integer>
    <key>Minute</key><integer>0</integer>
  </dict>

  <key>StandardOutPath</key>
  <string>__ROOT__/logs/x_feed_daily_launchd.out.log</string>

  <key>StandardErrorPath</key>
  <string>__ROOT__/logs/x_feed_daily_launchd.err.log</string>

  <key>ProcessType</key>
  <string>Background</string>

  <key>RunAtLoad</key>
  <false/>
</dict>
</plist>
